.con{
	width: 350px;
	height: 650px;
	justify-content: space-around;
	margin: auto;
}
.head{
	text-align: center;
	font-family: monospace;
	font-size: 16px;
	font-weight: bold;
}
.container{
	box-shadow: 0 0 25px black;
	border-radius: 15px;
	width: 350px;
	height: 500px;
	background: rgb(51, 51, 51);
	justify-content: space-around;
	margin: auto;
}
.screen{
	border-radius: 15px;
	width: 100%;
	height: 25%;
	background: black;
	text-align: center;
	pointer-events: none;
}
.row{
	margin: 5px;
	font: 15px arial black;
	justify-content: space-around;
	display: flex;
}
.buttons{
	margin: 15px;
	margin-top: 25px;
}
.o, .t, .th, .f, .ff{
	border-radius: 50%;
	width: 50px;
	height: 50px;
	float: left;
	align-items: center;
	font-weight: bold;
	background: lightblue;
	border: 1px solid lightblue;
	font-size: 20px;
}
.input{
	height: 70%;
	width: 90%;
	text-align: right;
	background: black;
	border: none;
	color: white;
	font-size: 40px;
}
.op{
	background: darkorange;
	border: 1px solid darkorange;
}
.c{
	background: red;
	border: 1px solid red;
}
.equal{
	background: green;
	border: 1px solid green;
}
button:hover{
	box-shadow: 0 0 15px white;
	background: black;
	color: white;
	border: 1px solid black;
}
.equal:hover{
	background: darkgreen;
	border: 1px solid darkgreen;
}

.pop{
	display: none;
}

.oc:click{
	display: flex;
}
.footer{
	margin: auto;
	justify-content: space-around;
	display: flex;
	padding-top: 25px;
}
.imga{
	width: 80px;
}
.in{
	width: 55px;
}

@media screen and (max-width: 500px){
	.head{
		padding-top: 30px;
	}

}